<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Kuroom 인증 메일</title>

    <!-- sonar-ignore: external resource integrity not required for email template -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
</head>
<body style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;">
<div style="
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 30px 60px;
    background: #f4f7ff;
    font-size: 14px;
    color: #434343;">

    <header>
        <table style="width: 100%;">
            <tbody>
            <tr style="height: 0;">
                <td style="text-align: center;">
                    <h2 style="margin: 0; font-size: 28px; font-weight: 600; color: #2d8c3c;">KUROOM</h2>
                </td>
            </tr>
            </tbody>
        </table>
    </header>

    <main>
        <div style="
            margin: 30px 0 0;
            padding: 40px 20px 40px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;">

            <div style="width: 100%; max-width: 489px; margin: 0 auto;">
                <h1 style="
                    margin: 0;
                    font-size: 24px;
                    font-weight: 600;
                    color: #1f1f1f;">
                    이메일 인증
                </h1>
                <p style="
                    margin: 17px 0 0;
                    font-size: 16px;
                    font-weight: 500;">
                    건국대학교 학생들을 위한 서비스, 쿠룸
                </p>
                <p style="
                margin: 17px 0 0;
                font-weight: 500;
                letter-spacing: 0.56px;">
                    안녕하세요. 쿠룸입니다. <br/>
                    앱으로 돌아가서 아래 인증 코드를 입력해주세요.<br/>
                    해당 인증코드는 <span style="font-weight: 600; color: #1f1f1f;">3분간</span> 유효합니다.
                </p>

                <p id='code' style="
                margin: 20px 0 0;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 20px;
                color: #2d8c3c;" th:text="${code}">
                    123456
                </p>
            </div>
            <div style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;">

                <p style="margin: 16px 0 0; color: #434343;">
                    Copyright © 2026 Kuroom. All rights reserved.
                </p>
            </div>
        </div>
    </main>
</div>
</body>
</html>
